In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd

In [2]:
sdg_data = pd.read_csv ('data/sdg_data/regional_sdg_data.csv', encoding='latin-1')
sdg_data

,Geolocation,Year,1.2.1 Poverty Proportion,1.4.1 Net Elem Enrolment Rate,1.4.1 Net Elem Enrolment Rate (Girls),1.4.1 Net Elem Enrolment Rate (Boys),1.4.1 Net JHS Enrolment Rate,1.4.1 Net JHS Enrolment Rate (Girls),1.4.1 Net JHS Enrolment Rate (Boys),1.4.1 Net SHS Enrolment Rate,...,4.1 SHS Completion Rate (Male),4.c TVET trainers trained,7.1.1 Proportion of pop with electricity,8.1.1 Growth rate of real GDP per capita,10.1.1.1 Income per capita growth rate of bottom 40,10.1.1.2 Income per capita growth rate,14.5.1.1 Coverage of protected areas,14.5.1.2 Coverage of protected NIPAS and Locally managed MPAs,"16.1.1 Victims of intentional homicide per 100,000",16.1.s1 Number of murder cases
0,NCR: National Capital Region,2000,NaN,101.00,101.92,100.13,79.05,79.50,78.57,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CAR: Cordillera Administrative Region,2000,NaN,94.42,94.58,94.26,71.19,76.37,66.14,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Region 1: Ilocos Region,2000,NaN,97.73,97.01,98.41,87.51,90.05,85.07,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Region 2: Cagayan Valley,2000,NaN,95.65,95.74,95.57,77.11,81.11,73.31,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Region 3: Central Luzon,2000,NaN,98.32,97.85,98.77,74.32,76.58,72.13,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
386,Region 10: Northern Mindanao,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
387,Region 11: Davao Region,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
388,Region 12: SOCCSKSARGEN,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389,CARAGA: CARAGA Administrative Region,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
390,BARMM: Bangsamoro Autonomous Region in Muslim ...,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
sdg_data = sdg_data [list (sdg_data.columns [:-15])]
sdg_data

,Geolocation,Year,1.2.1 Poverty Proportion,1.4.1 Net Elem Enrolment Rate,1.4.1 Net Elem Enrolment Rate (Girls),1.4.1 Net Elem Enrolment Rate (Boys),1.4.1 Net JHS Enrolment Rate,1.4.1 Net JHS Enrolment Rate (Girls),1.4.1 Net JHS Enrolment Rate (Boys),1.4.1 Net SHS Enrolment Rate,...,3.4.1 Mortality rate credited to NCD,3.4.1 Mortality rate credited to Cardio,3.4.1 Mortality rate credited to Cancer,3.4.1 Mortality rate credited to Diabetes,3.4.1 Mortality rate credited to Respi,3.7.1 Proportion of Contraceptive Use of Women,3.7.2 Teenage pregnancy rates per 1000,4.1 Elem Completion Rate,4.1 Elem Completion Rate (Female),4.1 Elem Completion Rate (Male)
0,NCR: National Capital Region,2000,NaN,101.00,101.92,100.13,79.05,79.50,78.57,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.87,66.58,61.35
1,CAR: Cordillera Administrative Region,2000,NaN,94.42,94.58,94.26,71.19,76.37,66.14,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.95,65.93,58.28
2,Region 1: Ilocos Region,2000,NaN,97.73,97.01,98.41,87.51,90.05,85.07,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.73,81.44,76.23
3,Region 2: Cagayan Valley,2000,NaN,95.65,95.74,95.57,77.11,81.11,73.31,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.75,74.95,66.90
4,Region 3: Central Luzon,2000,NaN,98.32,97.85,98.77,74.32,76.58,72.13,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.06,78.71,71.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
386,Region 10: Northern Mindanao,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
387,Region 11: Davao Region,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
388,Region 12: SOCCSKSARGEN,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389,CARAGA: CARAGA Administrative Region,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
390,BARMM: Bangsamoro Autonomous Region in Muslim ...,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
regions_selected = []

In [5]:
regions_selected = ['NCR: National Capital Region', 'Region 1: Ilocos Region', 'Region 2: Cagayan Valley', 'Region 3: Central Luzon', 'Region 4A: CALABARZON', 'Region 4B: MIMAROPA', 'Region 5: Bicol Region', 'Region 6: Western Visayas', 'Region 7: Central Visayas', 'Region 8: Eastern Visayas', 'Region 9: Zamboanga Peninsula', 'Region 10: Northern Mindanao', 'Region 11: Davao Region', 'Region 12: SOCCSKSARGEN', 'Region 13: Caraga', 'ARMM: Autonomous Region in Muslim Mindanao', 'CAR: Cordillera Administrative Region']

In [38]:
indicator_selected = []

In [43]:
indicators_selected = ['1.4.1 Net JHS Enrolment Rate']

In [47]:
one_indicator = pd.DataFrame ()

for region in regions_selected:
    if len (indicators_selected) > 0:
        temp_region = sdg_data [sdg_data['Geolocation'] == region][['Year', indicators_selected [0]]]
    else:
        temp_region = sdg_data [sdg_data['Geolocation'] == region][['Year']]
    
    temp_region = pd.concat ([sdg_data['Geolocation'], temp_region], axis=1)
    
    temp_region = temp_region.dropna (thresh = len (indicators_selected) + 1)
    temp_region ['Year'] = temp_region ['Year'].astype('int')
    
    one_indicator = pd.concat([one_indicator, temp_region])
    
one_indicator = one_indicator.reset_index (drop = True)
one_indicator

                               Geolocation  Year  1.4.1 Net JHS Enrolment Rate
0             NCR: National Capital Region  2000                       79.0500
1             NCR: National Capital Region  2001                       67.8400
2             NCR: National Capital Region  2002                       75.2800
3             NCR: National Capital Region  2003                       76.4200
4             NCR: National Capital Region  2004                       76.4000
..                                     ...   ...                           ...
317  CAR: Cordillera Administrative Region  2018                       83.6400
318  CAR: Cordillera Administrative Region  2019                       84.7600
319  CAR: Cordillera Administrative Region  2020                       84.9372
320  CAR: Cordillera Administrative Region  2021                           NaN
321  CAR: Cordillera Administrative Region  2022                           NaN

[322 rows x 3 columns]

In [48]:
#on one-indicator dataframe (one_indicator) i want to add column indicator name and input the indicator name "1.4.1 Net JHS Enrolment Rate" to all rows in column indicator to last column of dataframe
one_indicator ['indicator'] = "1.4.1 Net JHS Enrolment Rate"
one_indicator

,Geolocation,Year,1.4.1 Net JHS Enrolment Rate,indicator
0,NCR: National Capital Region,2000,79.0500,1.4.1 Net JHS Enrolment Rate
1,NCR: National Capital Region,2001,67.8400,1.4.1 Net JHS Enrolment Rate
2,NCR: National Capital Region,2002,75.2800,1.4.1 Net JHS Enrolment Rate
3,NCR: National Capital Region,2003,76.4200,1.4.1 Net JHS Enrolment Rate
4,NCR: National Capital Region,2004,76.4000,1.4.1 Net JHS Enrolment Rate
...,...,...,...,...
317,CAR: Cordillera Administrative Region,2018,83.6400,1.4.1 Net JHS Enrolment Rate
318,CAR: Cordillera Administrative Region,2019,84.7600,1.4.1 Net JHS Enrolment Rate
319,CAR: Cordillera Administrative Region,2020,84.9372,1.4.1 Net JHS Enrolment Rate
320,CAR: Cordillera Administrative Region,2021,NaN,1.4.1 Net JHS Enrolment Rate
321,CAR: Cordillera Administrative Region,2022,NaN,1.4.1 Net JHS Enrolment Rate

In [49]:
#change column '1.4.1 Net JHS Enrolment Rate' to 'value'
one_indicator = one_indicator.rename(columns={'1.4.1 Net JHS Enrolment Rate': 'value'})
one_indicator

,Geolocation,Year,value,indicator
0,NCR: National Capital Region,2000,79.0500,1.4.1 Net JHS Enrolment Rate
1,NCR: National Capital Region,2001,67.8400,1.4.1 Net JHS Enrolment Rate
2,NCR: National Capital Region,2002,75.2800,1.4.1 Net JHS Enrolment Rate
3,NCR: National Capital Region,2003,76.4200,1.4.1 Net JHS Enrolment Rate
4,NCR: National Capital Region,2004,76.4000,1.4.1 Net JHS Enrolment Rate
...,...,...,...,...
317,CAR: Cordillera Administrative Region,2018,83.6400,1.4.1 Net JHS Enrolment Rate
318,CAR: Cordillera Administrative Region,2019,84.7600,1.4.1 Net JHS Enrolment Rate
319,CAR: Cordillera Administrative Region,2020,84.9372,1.4.1 Net JHS Enrolment Rate
320,CAR: Cordillera Administrative Region,2021,NaN,1.4.1 Net JHS Enrolment Rate
321,CAR: Cordillera Administrative Region,2022,NaN,1.4.1 Net JHS Enrolment Rate

In [50]:
#save one_indicator dataframe to csv file
one_indicator.to_csv ('data/1.4.1 Net JHS Enrolment Rate.csv', index = False)

In [59]:
#next indicator
indicators_selected = ['1.2.1 Poverty Proportion']

In [60]:
two_indicator = pd.DataFrame ()
#the indicator is in

In [61]:
two_indicator = pd.DataFrame ()

for region in regions_selected:
    if len (indicators_selected) > 0:
        temp_region = sdg_data [sdg_data['Geolocation'] == region][['Year', indicators_selected [0]]]
    else:
        temp_region = sdg_data [sdg_data['Geolocation'] == region][['Year']]
    
    temp_region = pd.concat ([sdg_data['Geolocation'], temp_region], axis=1)
    
    temp_region = temp_region.dropna (thresh = len (indicators_selected) + 1)
    temp_region ['Year'] = temp_region ['Year'].astype('int')
    
    two_indicator = pd.concat([two_indicator, temp_region])
two_indicator = two_indicator.reset_index (drop = True)
two_indicator

                               Geolocation  Year  1.2.1 Poverty Proportion
0             NCR: National Capital Region  2000                       NaN
1             NCR: National Capital Region  2001                       NaN
2             NCR: National Capital Region  2002                       NaN
3             NCR: National Capital Region  2003                       NaN
4             NCR: National Capital Region  2004                       NaN
..                                     ...   ...                       ...
317  CAR: Cordillera Administrative Region  2018                      12.0
318  CAR: Cordillera Administrative Region  2019                       NaN
319  CAR: Cordillera Administrative Region  2020                       NaN
320  CAR: Cordillera Administrative Region  2021                       NaN
321  CAR: Cordillera Administrative Region  2022                       NaN

[322 rows x 3 columns]

In [62]:
two_indicator ['indicator'] = "1.2.1 Poverty Proportion"
two_indicator= two_indicator.rename(columns={'1.2.1 Poverty Proportion': 'value'})
two_indicator

,Geolocation,Year,value,indicator
0,NCR: National Capital Region,2000,NaN,1.2.1 Poverty Proportion
1,NCR: National Capital Region,2001,NaN,1.2.1 Poverty Proportion
2,NCR: National Capital Region,2002,NaN,1.2.1 Poverty Proportion
3,NCR: National Capital Region,2003,NaN,1.2.1 Poverty Proportion
4,NCR: National Capital Region,2004,NaN,1.2.1 Poverty Proportion
...,...,...,...,...
317,CAR: Cordillera Administrative Region,2018,12.0,1.2.1 Poverty Proportion
318,CAR: Cordillera Administrative Region,2019,NaN,1.2.1 Poverty Proportion
319,CAR: Cordillera Administrative Region,2020,NaN,1.2.1 Poverty Proportion
320,CAR: Cordillera Administrative Region,2021,NaN,1.2.1 Poverty Proportion
321,CAR: Cordillera Administrative Region,2022,NaN,1.2.1 Poverty Proportion

In [63]:
two_indicator.to_csv ('data/1.2.1 Poverty Proportion.csv', index = False)

In [64]:
#next indicator 1.4.1 Net Elem Enrolment Rate
indicators_selected = ['1.4.1 Net Elem Enrolment Rate']

In [67]:
third_indicator = pd.DataFrame ()

for region in regions_selected:
    if len (indicators_selected) > 0:
        temp_region = sdg_data [sdg_data['Geolocation'] == region][['Year', indicators_selected [0]]]
    else:
        temp_region = sdg_data [sdg_data['Geolocation'] == region][['Year']]
    
    temp_region = pd.concat ([sdg_data['Geolocation'], temp_region], axis=1)
    
    temp_region = temp_region.dropna (thresh = len (indicators_selected) + 1)
    temp_region ['Year'] = temp_region ['Year'].astype('int')
    
    third_indicator = pd.concat([third_indicator, temp_region])
third_indicator = third_indicator.reset_index (drop = True)
third_indicator

,Geolocation,Year,1.4.1 Net Elem Enrolment Rate
0,NCR: National Capital Region,2000,101.0000
1,NCR: National Capital Region,2001,97.8200
2,NCR: National Capital Region,2002,97.3800
3,NCR: National Capital Region,2003,96.8100
4,NCR: National Capital Region,2004,94.8200
...,...,...,...
317,CAR: Cordillera Administrative Region,2018,92.2400
318,CAR: Cordillera Administrative Region,2019,91.4000
319,CAR: Cordillera Administrative Region,2020,87.5276
320,CAR: Cordillera Administrative Region,2021,NaN
321,CAR: Cordillera Administrative Region,2022,NaN

In [68]:
third_indicator ['indicator'] = "1.4.1 Net Elem Enrolment Rate"
third_indicator= third_indicator.rename(columns={'1.4.1 Net Elem Enrolment Rate': 'value'})
third_indicator

,Geolocation,Year,value,indicator
0,NCR: National Capital Region,2000,101.0000,1.4.1 Net Elem Enrolment Rate
1,NCR: National Capital Region,2001,97.8200,1.4.1 Net Elem Enrolment Rate
2,NCR: National Capital Region,2002,97.3800,1.4.1 Net Elem Enrolment Rate
3,NCR: National Capital Region,2003,96.8100,1.4.1 Net Elem Enrolment Rate
4,NCR: National Capital Region,2004,94.8200,1.4.1 Net Elem Enrolment Rate
...,...,...,...,...
317,CAR: Cordillera Administrative Region,2018,92.2400,1.4.1 Net Elem Enrolment Rate
318,CAR: Cordillera Administrative Region,2019,91.4000,1.4.1 Net Elem Enrolment Rate
319,CAR: Cordillera Administrative Region,2020,87.5276,1.4.1 Net Elem Enrolment Rate
320,CAR: Cordillera Administrative Region,2021,NaN,1.4.1 Net Elem Enrolment Rate
321,CAR: Cordillera Administrative Region,2022,NaN,1.4.1 Net Elem Enrolment Rate

In [69]:
third_indicator.to_csv ('data/1.4.1 Net Elem Enrolment Rate.csv', index = False)

In [87]:
#next indicator 1.4.1 Net Elem Enrolment Rate (Girls)

indicators_selected = ['1.4.1 Net Elem Enrolment Rate (Girls)']

In [88]:
fout_indicator = pd.DataFrame ()

for region in regions_selected:
    if len (indicators_selected) > 0:
        temp_region = sdg_data [sdg_data['Geolocation'] == region][['Year', indicators_selected [0]]]
    else:
        temp_region = sdg_data [sdg_data['Geolocation'] == region][['Year']]
    
    temp_region = pd.concat ([sdg_data['Geolocation'], temp_region], axis=1)
    
    temp_region = temp_region.dropna (thresh = len (indicators_selected) + 1)
    temp_region ['Year'] = temp_region ['Year'].astype('int')
    
    fout_indicator = pd.concat([fout_indicator, temp_region])
fout_indicator = fout_indicator.reset_index (drop = True)
fout_indicator

,Geolocation,Year,1.4.1 Net Elem Enrolment Rate (Girls)
0,NCR: National Capital Region,2000,101.9200
1,NCR: National Capital Region,2001,99.1300
2,NCR: National Capital Region,2002,98.2800
3,NCR: National Capital Region,2003,97.8700
4,NCR: National Capital Region,2004,95.9500
...,...,...,...
317,CAR: Cordillera Administrative Region,2018,90.9900
318,CAR: Cordillera Administrative Region,2019,90.5100
319,CAR: Cordillera Administrative Region,2020,86.4657
320,CAR: Cordillera Administrative Region,2021,NaN
321,CAR: Cordillera Administrative Region,2022,NaN

In [89]:
fout_indicator['indicator'] = "1.4.1 Net Elem Enrolment Rate (Girls)"
fout_indicator = fout_indicator.rename(columns={'1.4.1 Net Elem Enrolment Rate (Girls)': 'value'})
fout_indicator

,Geolocation,Year,value,indicator
0,NCR: National Capital Region,2000,101.9200,1.4.1 Net Elem Enrolment Rate (Girls)
1,NCR: National Capital Region,2001,99.1300,1.4.1 Net Elem Enrolment Rate (Girls)
2,NCR: National Capital Region,2002,98.2800,1.4.1 Net Elem Enrolment Rate (Girls)
3,NCR: National Capital Region,2003,97.8700,1.4.1 Net Elem Enrolment Rate (Girls)
4,NCR: National Capital Region,2004,95.9500,1.4.1 Net Elem Enrolment Rate (Girls)
...,...,...,...,...
317,CAR: Cordillera Administrative Region,2018,90.9900,1.4.1 Net Elem Enrolment Rate (Girls)
318,CAR: Cordillera Administrative Region,2019,90.5100,1.4.1 Net Elem Enrolment Rate (Girls)
319,CAR: Cordillera Administrative Region,2020,86.4657,1.4.1 Net Elem Enrolment Rate (Girls)
320,CAR: Cordillera Administrative Region,2021,NaN,1.4.1 Net Elem Enrolment Rate (Girls)
321,CAR: Cordillera Administrative Region,2022,NaN,1.4.1 Net Elem Enrolment Rate (Girls)

In [90]:
fout_indicator.to_csv ('data/1.4.1 Net Elem Enrolment Rate (Girls).csv', index = False)

In [6]:
indicators_selected = ['1.4.1 Net Elem Enrolment Rate (Boys)']

In [7]:
fifth_indicator = pd.DataFrame ()

for region in regions_selected:
    if len (indicators_selected) > 0:
        temp_region = sdg_data [sdg_data['Geolocation'] == region][['Year', indicators_selected [0]]]
    else:
        temp_region = sdg_data [sdg_data['Geolocation'] == region][['Year']]
    
    temp_region = pd.concat ([sdg_data['Geolocation'], temp_region], axis=1)
    
    temp_region = temp_region.dropna (thresh = len (indicators_selected) + 1)
    temp_region ['Year'] = temp_region ['Year'].astype('int')
    
    fifth_indicator = pd.concat([fifth_indicator, temp_region])
fifth_indicator = fifth_indicator.reset_index (drop = True)
fifth_indicator

,Geolocation,Year,1.4.1 Net Elem Enrolment Rate (Boys)
0,NCR: National Capital Region,2000,100.1300
1,NCR: National Capital Region,2001,96.5700
2,NCR: National Capital Region,2002,96.5200
3,NCR: National Capital Region,2003,95.8100
4,NCR: National Capital Region,2004,93.7500
...,...,...,...
317,CAR: Cordillera Administrative Region,2018,93.4500
318,CAR: Cordillera Administrative Region,2019,92.2500
319,CAR: Cordillera Administrative Region,2020,88.5518
320,CAR: Cordillera Administrative Region,2021,NaN
321,CAR: Cordillera Administrative Region,2022,NaN

In [8]:
fifth_indicator['indicator'] = '1.4.1 Net Elem Enrolment Rate (Boys)'
fifth_indicator = fifth_indicator.rename(columns={'1.4.1 Net Elem Enrolment Rate (Boys)': 'value'})
fifth_indicator

,Geolocation,Year,value,indicator
0,NCR: National Capital Region,2000,100.1300,1.4.1 Net Elem Enrolment Rate (Boys)
1,NCR: National Capital Region,2001,96.5700,1.4.1 Net Elem Enrolment Rate (Boys)
2,NCR: National Capital Region,2002,96.5200,1.4.1 Net Elem Enrolment Rate (Boys)
3,NCR: National Capital Region,2003,95.8100,1.4.1 Net Elem Enrolment Rate (Boys)
4,NCR: National Capital Region,2004,93.7500,1.4.1 Net Elem Enrolment Rate (Boys)
...,...,...,...,...
317,CAR: Cordillera Administrative Region,2018,93.4500,1.4.1 Net Elem Enrolment Rate (Boys)
318,CAR: Cordillera Administrative Region,2019,92.2500,1.4.1 Net Elem Enrolment Rate (Boys)
319,CAR: Cordillera Administrative Region,2020,88.5518,1.4.1 Net Elem Enrolment Rate (Boys)
320,CAR: Cordillera Administrative Region,2021,NaN,1.4.1 Net Elem Enrolment Rate (Boys)
321,CAR: Cordillera Administrative Region,2022,NaN,1.4.1 Net Elem Enrolment Rate (Boys)

In [9]:
#save fifth_indicator dataframe to csv file
fifth_indicator.to_csv ('data/1.4.1 Net Elem Enrolment Rate (Boys).csv', index = False)

In [10]:
indicators_selected =['1.4.1 Net JHS Enrolment Rate (Girls)']

In [11]:
sixth_indicator = pd.DataFrame ()

for region in regions_selected:
    if len (indicators_selected) > 0:
        temp_region = sdg_data [sdg_data['Geolocation'] == region][['Year', indicators_selected [0]]]
    else:
        temp_region = sdg_data [sdg_data['Geolocation'] == region][['Year']]
    
    temp_region = pd.concat ([sdg_data['Geolocation'], temp_region], axis=1)
    
    temp_region = temp_region.dropna (thresh = len (indicators_selected) + 1)
    temp_region ['Year'] = temp_region ['Year'].astype('int')
    
    sixth_indicator = pd.concat([sixth_indicator, temp_region])
sixth_indicator = sixth_indicator.reset_index (drop = True)
sixth_indicator

,Geolocation,Year,1.4.1 Net JHS Enrolment Rate (Girls)
0,NCR: National Capital Region,2000,79.5000
1,NCR: National Capital Region,2001,73.8600
2,NCR: National Capital Region,2002,77.9400
3,NCR: National Capital Region,2003,78.7700
4,NCR: National Capital Region,2004,79.0600
...,...,...,...
317,CAR: Cordillera Administrative Region,2018,88.1300
318,CAR: Cordillera Administrative Region,2019,88.9000
319,CAR: Cordillera Administrative Region,2020,88.1383
320,CAR: Cordillera Administrative Region,2021,NaN
321,CAR: Cordillera Administrative Region,2022,NaN

In [12]:
sixth_indicator['indicator'] = '1.4.1 Net JHS Enrolment Rate (Girls)'
sixth_indicator = sixth_indicator.rename(columns={'1.4.1 Net JHS Enrolment Rate (Girls)': 'value'})
sixth_indicator

,Geolocation,Year,value,indicator
0,NCR: National Capital Region,2000,79.5000,1.4.1 Net JHS Enrolment Rate (Girls)
1,NCR: National Capital Region,2001,73.8600,1.4.1 Net JHS Enrolment Rate (Girls)
2,NCR: National Capital Region,2002,77.9400,1.4.1 Net JHS Enrolment Rate (Girls)
3,NCR: National Capital Region,2003,78.7700,1.4.1 Net JHS Enrolment Rate (Girls)
4,NCR: National Capital Region,2004,79.0600,1.4.1 Net JHS Enrolment Rate (Girls)
...,...,...,...,...
317,CAR: Cordillera Administrative Region,2018,88.1300,1.4.1 Net JHS Enrolment Rate (Girls)
318,CAR: Cordillera Administrative Region,2019,88.9000,1.4.1 Net JHS Enrolment Rate (Girls)
319,CAR: Cordillera Administrative Region,2020,88.1383,1.4.1 Net JHS Enrolment Rate (Girls)
320,CAR: Cordillera Administrative Region,2021,NaN,1.4.1 Net JHS Enrolment Rate (Girls)
321,CAR: Cordillera Administrative Region,2022,NaN,1.4.1 Net JHS Enrolment Rate (Girls)

In [13]:
sixth_indicator.to_csv('data/1.4.1 Net JHS Enrolment Rate (Girls).csv', index = False)

In [14]:
indicators_selected = ['1.4.1 Net JHS Enrolment Rate (Boys)']

In [15]:
seventh_indicator = pd.DataFrame ()

for region in regions_selected:
    if len (indicators_selected) > 0:
        temp_region = sdg_data [sdg_data['Geolocation'] == region][['Year', indicators_selected [0]]]
    else:
        temp_region = sdg_data [sdg_data['Geolocation'] == region][['Year']]
    
    temp_region = pd.concat ([sdg_data['Geolocation'], temp_region], axis=1)
    
    temp_region = temp_region.dropna (thresh = len (indicators_selected) + 1)
    temp_region ['Year'] = temp_region ['Year'].astype('int')
    
    seventh_indicator = pd.concat([seventh_indicator, temp_region])
seventh_indicator = seventh_indicator.reset_index (drop = True)
seventh_indicator

,Geolocation,Year,1.4.1 Net JHS Enrolment Rate (Boys)
0,NCR: National Capital Region,2000,78.570
1,NCR: National Capital Region,2001,61.700
2,NCR: National Capital Region,2002,72.570
3,NCR: National Capital Region,2003,74.020
4,NCR: National Capital Region,2004,73.670
...,...,...,...
317,CAR: Cordillera Administrative Region,2018,79.400
318,CAR: Cordillera Administrative Region,2019,80.810
319,CAR: Cordillera Administrative Region,2020,81.866
320,CAR: Cordillera Administrative Region,2021,NaN
321,CAR: Cordillera Administrative Region,2022,NaN

In [18]:
seventh_indicator['indicator']='1.4.1 Net JHS Enrolment Rate (Boys)'
seventh_indicator = seventh_indicator.rename(columns={'1.4.1 Net JHS Enrolment Rate (Boys)':'value'})
seventh_indicator

,Geolocation,Year,value,indicator
0,NCR: National Capital Region,2000,78.570,1.4.1 Net JHS Enrolment Rate (Boys)
1,NCR: National Capital Region,2001,61.700,1.4.1 Net JHS Enrolment Rate (Boys)
2,NCR: National Capital Region,2002,72.570,1.4.1 Net JHS Enrolment Rate (Boys)
3,NCR: National Capital Region,2003,74.020,1.4.1 Net JHS Enrolment Rate (Boys)
4,NCR: National Capital Region,2004,73.670,1.4.1 Net JHS Enrolment Rate (Boys)
...,...,...,...,...
317,CAR: Cordillera Administrative Region,2018,79.400,1.4.1 Net JHS Enrolment Rate (Boys)
318,CAR: Cordillera Administrative Region,2019,80.810,1.4.1 Net JHS Enrolment Rate (Boys)
319,CAR: Cordillera Administrative Region,2020,81.866,1.4.1 Net JHS Enrolment Rate (Boys)
320,CAR: Cordillera Administrative Region,2021,NaN,1.4.1 Net JHS Enrolment Rate (Boys)
321,CAR: Cordillera Administrative Region,2022,NaN,1.4.1 Net JHS Enrolment Rate (Boys)

In [19]:
seventh_indicator.to_csv('data/1.4.1 Net JHS Enrolment Rate (Boys).csv', index=False)

In [20]:
indicators_selected = ['1.4.1 Net SHS Enrolment Rate']

In [21]:
eight_indicator = pd.DataFrame ()

for region in regions_selected:
    if len (indicators_selected) > 0:
        temp_region = sdg_data [sdg_data['Geolocation'] == region][['Year', indicators_selected [0]]]
    else:
        temp_region = sdg_data [sdg_data['Geolocation'] == region][['Year']]
    
    temp_region = pd.concat ([sdg_data['Geolocation'], temp_region], axis=1)
    
    temp_region = temp_region.dropna (thresh = len (indicators_selected) + 1)
    temp_region ['Year'] = temp_region ['Year'].astype('int')
    
    eight_indicator = pd.concat([eight_indicator, temp_region])
eight_indicator = eight_indicator.reset_index (drop = True)
eight_indicator

                               Geolocation  Year  1.4.1 Net SHS Enrolment Rate
0             NCR: National Capital Region  2000                           NaN
1             NCR: National Capital Region  2001                           NaN
2             NCR: National Capital Region  2002                           NaN
3             NCR: National Capital Region  2003                           NaN
4             NCR: National Capital Region  2004                           NaN
..                                     ...   ...                           ...
317  CAR: Cordillera Administrative Region  2018                       53.6400
318  CAR: Cordillera Administrative Region  2019                       50.5300
319  CAR: Cordillera Administrative Region  2020                       52.8763
320  CAR: Cordillera Administrative Region  2021                           NaN
321  CAR: Cordillera Administrative Region  2022                           NaN

[322 rows x 3 columns]

In [22]:
eight_indicator['indicator']='1.4.1 Net SHS Enrolment Rate'
eight_indicator = eight_indicator.rename(columns={'1.4.1 Net SHS Enrolment Rate':'value'})
eight_indicator

,Geolocation,Year,value,indicator
0,NCR: National Capital Region,2000,NaN,1.4.1 Net SHS Enrolment Rate
1,NCR: National Capital Region,2001,NaN,1.4.1 Net SHS Enrolment Rate
2,NCR: National Capital Region,2002,NaN,1.4.1 Net SHS Enrolment Rate
3,NCR: National Capital Region,2003,NaN,1.4.1 Net SHS Enrolment Rate
4,NCR: National Capital Region,2004,NaN,1.4.1 Net SHS Enrolment Rate
...,...,...,...,...
317,CAR: Cordillera Administrative Region,2018,53.6400,1.4.1 Net SHS Enrolment Rate
318,CAR: Cordillera Administrative Region,2019,50.5300,1.4.1 Net SHS Enrolment Rate
319,CAR: Cordillera Administrative Region,2020,52.8763,1.4.1 Net SHS Enrolment Rate
320,CAR: Cordillera Administrative Region,2021,NaN,1.4.1 Net SHS Enrolment Rate
321,CAR: Cordillera Administrative Region,2022,NaN,1.4.1 Net SHS Enrolment Rate

In [23]:
eight_indicator.to_csv('data/1.4.1 Net SHS Enrolment Rate.csv', index=False)

In [24]:
indicators_selected = ['1.4.1 Net SHS Enrolment Rate (Girls)']

In [25]:
nineth_indicator = pd.DataFrame ()

for region in regions_selected:
    if len (indicators_selected) > 0:
        temp_region = sdg_data [sdg_data['Geolocation']==region][['Year', indicators_selected[0]]]
    else:
        temp_region = sdg_data [sdg_data['Geolocation']==region][['Year']]
    
    temp_region = pd.concat ([sdg_data['Geolocation'], temp_region], axis=1)
    
    temp_region = temp_region.dropna(thresh=len(indicators_selected)+1)
    temp_region ['Year'] = temp_region ['Year'].astype('int')
    
    nineth_indicator = pd.concat([nineth_indicator, temp_region])
nineth_indicator = nineth_indicator.reset_index (drop = True)
nineth_indicator

,Geolocation,Year,1.4.1 Net SHS Enrolment Rate (Girls)
0,NCR: National Capital Region,2000,NaN
1,NCR: National Capital Region,2001,NaN
2,NCR: National Capital Region,2002,NaN
3,NCR: National Capital Region,2003,NaN
4,NCR: National Capital Region,2004,NaN
...,...,...,...
317,CAR: Cordillera Administrative Region,2018,63.310
318,CAR: Cordillera Administrative Region,2019,60.280
319,CAR: Cordillera Administrative Region,2020,63.109
320,CAR: Cordillera Administrative Region,2021,NaN
321,CAR: Cordillera Administrative Region,2022,NaN

In [27]:
nineth_indicator['indicator'] = '1.4.1 Net SHS Enrolment Rate (Girls)'
nineth_indicator = nineth_indicator.rename(columns={'1.4.1 Net SHS Enrolment Rate (Girls)' : 'value'})
nineth_indicator

,Geolocation,Year,value,indicator
0,NCR: National Capital Region,2000,NaN,1.4.1 Net SHS Enrolment Rate (Girls)
1,NCR: National Capital Region,2001,NaN,1.4.1 Net SHS Enrolment Rate (Girls)
2,NCR: National Capital Region,2002,NaN,1.4.1 Net SHS Enrolment Rate (Girls)
3,NCR: National Capital Region,2003,NaN,1.4.1 Net SHS Enrolment Rate (Girls)
4,NCR: National Capital Region,2004,NaN,1.4.1 Net SHS Enrolment Rate (Girls)
...,...,...,...,...
317,CAR: Cordillera Administrative Region,2018,63.310,1.4.1 Net SHS Enrolment Rate (Girls)
318,CAR: Cordillera Administrative Region,2019,60.280,1.4.1 Net SHS Enrolment Rate (Girls)
319,CAR: Cordillera Administrative Region,2020,63.109,1.4.1 Net SHS Enrolment Rate (Girls)
320,CAR: Cordillera Administrative Region,2021,NaN,1.4.1 Net SHS Enrolment Rate (Girls)
321,CAR: Cordillera Administrative Region,2022,NaN,1.4.1 Net SHS Enrolment Rate (Girls)

In [28]:
nineth_indicator.to_csv('data/1.4.1 Net SHS Enrolment Rate (Girls).csv', index=False)

In [29]:
indicators_selected = ['1.4.1 Net SHS Enrolment Rate (Boys)']

In [30]:
tenth_indicator = pd.DataFrame ()

for region in regions_selected:
    if len (indicators_selected) > 0:
        temp_region = sdg_data[sdg_data['Geolocation']==region][['Year', indicators_selected[0]]]
    else:
        temp_region = sdg_data[sdg_data['Geolocation']==region][['Year']]
    
    temp_region = pd.concat ([sdg_data['Geolocation'], temp_region], axis=1)
    
    temp_region = temp_region.dropna(thresh=len(indicators_selected)+1)
    temp_region ['Year'] = temp_region ['Year'].astype('int')
    
    tenth_indicator = pd.concat([tenth_indicator, temp_region])
tenth_indicator = tenth_indicator.reset_index (drop = True)
tenth_indicator

,Geolocation,Year,1.4.1 Net SHS Enrolment Rate (Boys)
0,NCR: National Capital Region,2000,NaN
1,NCR: National Capital Region,2001,NaN
2,NCR: National Capital Region,2002,NaN
3,NCR: National Capital Region,2003,NaN
4,NCR: National Capital Region,2004,NaN
...,...,...,...
317,CAR: Cordillera Administrative Region,2018,44.6100
318,CAR: Cordillera Administrative Region,2019,41.4600
319,CAR: Cordillera Administrative Region,2020,43.3977
320,CAR: Cordillera Administrative Region,2021,NaN
321,CAR: Cordillera Administrative Region,2022,NaN

In [31]:
tenth_indicator['indicator'] = '1.4.1 Net SHS Enrolment Rate (Boys)'
tenth_indicator =  tenth_indicator.rename(columns={'1.4.1 Net SHS Enrolment Rate (Boys)' : 'value'})
tenth_indicator

,Geolocation,Year,value,indicator
0,NCR: National Capital Region,2000,NaN,1.4.1 Net SHS Enrolment Rate (Boys)
1,NCR: National Capital Region,2001,NaN,1.4.1 Net SHS Enrolment Rate (Boys)
2,NCR: National Capital Region,2002,NaN,1.4.1 Net SHS Enrolment Rate (Boys)
3,NCR: National Capital Region,2003,NaN,1.4.1 Net SHS Enrolment Rate (Boys)
4,NCR: National Capital Region,2004,NaN,1.4.1 Net SHS Enrolment Rate (Boys)
...,...,...,...,...
317,CAR: Cordillera Administrative Region,2018,44.6100,1.4.1 Net SHS Enrolment Rate (Boys)
318,CAR: Cordillera Administrative Region,2019,41.4600,1.4.1 Net SHS Enrolment Rate (Boys)
319,CAR: Cordillera Administrative Region,2020,43.3977,1.4.1 Net SHS Enrolment Rate (Boys)
320,CAR: Cordillera Administrative Region,2021,NaN,1.4.1 Net SHS Enrolment Rate (Boys)
321,CAR: Cordillera Administrative Region,2022,NaN,1.4.1 Net SHS Enrolment Rate (Boys)

In [32]:
tenth_indicator.to_csv('data/1.4.1 Net SHS Enrolment Rate (Boys).csv', index=False)

In [33]:
indicators_selected = ['1.5.4 Proportion of LGU with DRR']

In [34]:
eleventh_indicator = pd.DataFrame ()

for region in regions_selected:
    if len (indicators_selected) > 0:
        temp_region = sdg_data[sdg_data['Geolocation']==region][['Year', indicators_selected[0]]]
    else:
        temp_region = sdg_data[sdg_data['Geolocation']==region][['Year']]
    
    temp_region = pd.concat ([sdg_data['Geolocation'], temp_region], axis=1)
    
    temp_region = temp_region.dropna(thresh=len(indicators_selected)+1)
    temp_region ['Year'] = temp_region ['Year'].astype('int')
    
    eleventh_indicator = pd.concat([eleventh_indicator, temp_region])
eleventh_indicator = eleventh_indicator.reset_index (drop = True)
eleventh_indicator

,Geolocation,Year,1.5.4 Proportion of LGU with DRR
0,NCR: National Capital Region,2000,NaN
1,NCR: National Capital Region,2001,NaN
2,NCR: National Capital Region,2002,NaN
3,NCR: National Capital Region,2003,NaN
4,NCR: National Capital Region,2004,NaN
...,...,...,...
317,CAR: Cordillera Administrative Region,2018,97.5
318,CAR: Cordillera Administrative Region,2019,NaN
319,CAR: Cordillera Administrative Region,2020,79.5
320,CAR: Cordillera Administrative Region,2021,61.5
321,CAR: Cordillera Administrative Region,2022,NaN

In [35]:
eleventh_indicator['indicator'] = '1.5.4 Proportion of LGU with DRR'
eleventh_indicator = eleventh_indicator.rename(columns={'1.5.4 Proportion of LGU with DRR' : 'value'})
eleventh_indicator

,Geolocation,Year,value,indicator
0,NCR: National Capital Region,2000,NaN,1.5.4 Proportion of LGU with DRR
1,NCR: National Capital Region,2001,NaN,1.5.4 Proportion of LGU with DRR
2,NCR: National Capital Region,2002,NaN,1.5.4 Proportion of LGU with DRR
3,NCR: National Capital Region,2003,NaN,1.5.4 Proportion of LGU with DRR
4,NCR: National Capital Region,2004,NaN,1.5.4 Proportion of LGU with DRR
...,...,...,...,...
317,CAR: Cordillera Administrative Region,2018,97.5,1.5.4 Proportion of LGU with DRR
318,CAR: Cordillera Administrative Region,2019,NaN,1.5.4 Proportion of LGU with DRR
319,CAR: Cordillera Administrative Region,2020,79.5,1.5.4 Proportion of LGU with DRR
320,CAR: Cordillera Administrative Region,2021,61.5,1.5.4 Proportion of LGU with DRR
321,CAR: Cordillera Administrative Region,2022,NaN,1.5.4 Proportion of LGU with DRR

In [36]:
eleventh_indicator.to_csv('data/1.5.4 Proportion of LGU with DRR.csv', index=False)

In [40]:
indicators_selected = ['3.4.1 Mortality rate credited to NCD']

In [41]:
twelveth_indicator = pd.DataFrame ()

for region in regions_selected:
    if len (indicators_selected) > 0:
        temp_region = sdg_data[sdg_data['Geolocation']==region][['Year', indicators_selected[0]]]
    else:
        temp_region = sdg_data[sdg_data['Geolocation']==region][['Year']]
    
    temp_region = pd.concat ([sdg_data['Geolocation'], temp_region], axis=1)
    
    temp_region = temp_region.dropna(thresh=len(indicators_selected)+1)
    temp_region ['Year'] = temp_region ['Year'].astype('int')
    
    twelveth_indicator = pd.concat([twelveth_indicator, temp_region])
twelveth_indicator = twelveth_indicator.reset_index (drop = True)
twelveth_indicator

,Geolocation,Year,3.4.1 Mortality rate credited to NCD
0,NCR: National Capital Region,2000,NaN
1,NCR: National Capital Region,2001,NaN
2,NCR: National Capital Region,2002,NaN
3,NCR: National Capital Region,2003,NaN
4,NCR: National Capital Region,2004,NaN
...,...,...,...
317,CAR: Cordillera Administrative Region,2018,3.8
318,CAR: Cordillera Administrative Region,2019,4.1
319,CAR: Cordillera Administrative Region,2020,3.8
320,CAR: Cordillera Administrative Region,2021,NaN
321,CAR: Cordillera Administrative Region,2022,NaN

In [42]:
twelveth_indicator['indicator'] = '3.4.1 Mortality rate credited to NCD'
twelveth_indicator = twelveth_indicator.rename(columns={'3.4.1 Mortality rate credited to NCD' : 'value'})
twelveth_indicator

,Geolocation,Year,value,indicator
0,NCR: National Capital Region,2000,NaN,3.4.1 Mortality rate credited to NCD
1,NCR: National Capital Region,2001,NaN,3.4.1 Mortality rate credited to NCD
2,NCR: National Capital Region,2002,NaN,3.4.1 Mortality rate credited to NCD
3,NCR: National Capital Region,2003,NaN,3.4.1 Mortality rate credited to NCD
4,NCR: National Capital Region,2004,NaN,3.4.1 Mortality rate credited to NCD
...,...,...,...,...
317,CAR: Cordillera Administrative Region,2018,3.8,3.4.1 Mortality rate credited to NCD
318,CAR: Cordillera Administrative Region,2019,4.1,3.4.1 Mortality rate credited to NCD
319,CAR: Cordillera Administrative Region,2020,3.8,3.4.1 Mortality rate credited to NCD
320,CAR: Cordillera Administrative Region,2021,NaN,3.4.1 Mortality rate credited to NCD
321,CAR: Cordillera Administrative Region,2022,NaN,3.4.1 Mortality rate credited to NCD

In [43]:
twelveth_indicator.to_csv('data/3.4.1 Mortality rate credited to NCD.csv', index=False)

In [44]:
indicators_selected = ['3.4.1 Mortality rate credited to Cardio']

In [45]:
thiteenth_indicator = pd.DataFrame ()

for region in regions_selected:
    if len (indicators_selected) > 0:
        temp_region = sdg_data[sdg_data['Geolocation']==region][['Year', indicators_selected[0]]]
    else:
        temp_region = sdg_data[sdg_data['Geolocation']==region][['Year']]
    
    temp_region = pd.concat ([sdg_data['Geolocation'], temp_region], axis=1)
    
    temp_region = temp_region.dropna(thresh=len(indicators_selected)+1)
    temp_region ['Year'] = temp_region ['Year'].astype('int')
    
    thiteenth_indicator = pd.concat([thiteenth_indicator, temp_region])
thiteenth_indicator = thiteenth_indicator.reset_index (drop = True)
thiteenth_indicator

,Geolocation,Year,3.4.1 Mortality rate credited to Cardio
0,NCR: National Capital Region,2000,NaN
1,NCR: National Capital Region,2001,NaN
2,NCR: National Capital Region,2002,NaN
3,NCR: National Capital Region,2003,NaN
4,NCR: National Capital Region,2004,NaN
...,...,...,...
317,CAR: Cordillera Administrative Region,2018,2.2
318,CAR: Cordillera Administrative Region,2019,2.5
319,CAR: Cordillera Administrative Region,2020,2.1
320,CAR: Cordillera Administrative Region,2021,NaN
321,CAR: Cordillera Administrative Region,2022,NaN

In [46]:
thiteenth_indicator['indicator'] = '3.4.1 Mortality rate credited to Cardio'
thiteenth_indicator = thiteenth_indicator.rename(columns={'3.4.1 Mortality rate credited to Cardio' : 'value'})
thiteenth_indicator

,Geolocation,Year,value,indicator
0,NCR: National Capital Region,2000,NaN,3.4.1 Mortality rate credited to Cardio
1,NCR: National Capital Region,2001,NaN,3.4.1 Mortality rate credited to Cardio
2,NCR: National Capital Region,2002,NaN,3.4.1 Mortality rate credited to Cardio
3,NCR: National Capital Region,2003,NaN,3.4.1 Mortality rate credited to Cardio
4,NCR: National Capital Region,2004,NaN,3.4.1 Mortality rate credited to Cardio
...,...,...,...,...
317,CAR: Cordillera Administrative Region,2018,2.2,3.4.1 Mortality rate credited to Cardio
318,CAR: Cordillera Administrative Region,2019,2.5,3.4.1 Mortality rate credited to Cardio
319,CAR: Cordillera Administrative Region,2020,2.1,3.4.1 Mortality rate credited to Cardio
320,CAR: Cordillera Administrative Region,2021,NaN,3.4.1 Mortality rate credited to Cardio
321,CAR: Cordillera Administrative Region,2022,NaN,3.4.1 Mortality rate credited to Cardio

In [47]:
thiteenth_indicator.to_csv('data/3.4.1 Mortality rate credited to Cardio.csv', index=False)

In [48]:
indicators_selected = ['3.4.1 Mortality rate credited to Cancer']

In [49]:
fourtheenth_indicator = pd.DataFrame ()

for region in regions_selected:
    if len (indicators_selected) > 0:
        temp_region = sdg_data[sdg_data['Geolocation']==region][['Year', indicators_selected[0]]]
    else:
        temp_region = sdg_data[sdg_data['Geolocation']==region][['Year']]
    
    temp_region = pd.concat ([sdg_data['Geolocation'], temp_region], axis=1)
    
    temp_region = temp_region.dropna(thresh=len(indicators_selected)+1)
    temp_region ['Year'] = temp_region ['Year'].astype('int')
    
    fourtheenth_indicator = pd.concat([fourtheenth_indicator, temp_region])
fourtheenth_indicator = fourtheenth_indicator.reset_index (drop = True)
fourtheenth_indicator

,Geolocation,Year,3.4.1 Mortality rate credited to Cancer
0,NCR: National Capital Region,2000,NaN
1,NCR: National Capital Region,2001,NaN
2,NCR: National Capital Region,2002,NaN
3,NCR: National Capital Region,2003,NaN
4,NCR: National Capital Region,2004,NaN
...,...,...,...
317,CAR: Cordillera Administrative Region,2018,1.2
318,CAR: Cordillera Administrative Region,2019,1.1
319,CAR: Cordillera Administrative Region,2020,1.2
320,CAR: Cordillera Administrative Region,2021,NaN
321,CAR: Cordillera Administrative Region,2022,NaN

In [50]:
fourtheenth_indicator['indicator'] = '3.4.1 Mortality rate credited to Cancer'
fourtheenth_indicator = fourtheenth_indicator.rename(columns={'3.4.1 Mortality rate credited to Cancer' : 'value'})
fourtheenth_indicator

,Geolocation,Year,value,indicator
0,NCR: National Capital Region,2000,NaN,3.4.1 Mortality rate credited to Cancer
1,NCR: National Capital Region,2001,NaN,3.4.1 Mortality rate credited to Cancer
2,NCR: National Capital Region,2002,NaN,3.4.1 Mortality rate credited to Cancer
3,NCR: National Capital Region,2003,NaN,3.4.1 Mortality rate credited to Cancer
4,NCR: National Capital Region,2004,NaN,3.4.1 Mortality rate credited to Cancer
...,...,...,...,...
317,CAR: Cordillera Administrative Region,2018,1.2,3.4.1 Mortality rate credited to Cancer
318,CAR: Cordillera Administrative Region,2019,1.1,3.4.1 Mortality rate credited to Cancer
319,CAR: Cordillera Administrative Region,2020,1.2,3.4.1 Mortality rate credited to Cancer
320,CAR: Cordillera Administrative Region,2021,NaN,3.4.1 Mortality rate credited to Cancer
321,CAR: Cordillera Administrative Region,2022,NaN,3.4.1 Mortality rate credited to Cancer

In [51]:
fourtheenth_indicator.to_csv('data/3.4.1 Mortality rate credited to Cancer.csv', index=False)

In [52]:
indicators_selected = ['3.4.1 Mortality rate credited to Diabetes']

In [53]:
fifteenth_indicator = pd.DataFrame ()

for region in regions_selected:
    if len (indicators_selected) > 0:
        temp_region = sdg_data[sdg_data['Geolocation']==region][['Year', indicators_selected[0]]]
    else:
        temp_region = sdg_data[sdg_data['Geolocation']==region][['Year']]
    
    temp_region = pd.concat ([sdg_data['Geolocation'], temp_region], axis=1)
    
    temp_region = temp_region.dropna(thresh=len(indicators_selected)+1)
    temp_region ['Year'] = temp_region ['Year'].astype('int')
    
    fifteenth_indicator = pd.concat([fifteenth_indicator, temp_region])
fifteenth_indicator = fifteenth_indicator.reset_index (drop = True)
fifteenth_indicator

,Geolocation,Year,3.4.1 Mortality rate credited to Diabetes
0,NCR: National Capital Region,2000,NaN
1,NCR: National Capital Region,2001,NaN
2,NCR: National Capital Region,2002,NaN
3,NCR: National Capital Region,2003,NaN
4,NCR: National Capital Region,2004,NaN
...,...,...,...
317,CAR: Cordillera Administrative Region,2018,0.3
318,CAR: Cordillera Administrative Region,2019,0.3
319,CAR: Cordillera Administrative Region,2020,0.3
320,CAR: Cordillera Administrative Region,2021,NaN
321,CAR: Cordillera Administrative Region,2022,NaN

In [56]:
fifteenth_indicator['indicator'] = '3.4.1 Mortality rate credited to Diabetes'
fifteenth_indicator = fifteenth_indicator.rename(columns={'3.4.1 Mortality rate credited to Diabetes' : 'value'})
fifteenth_indicator

,Geolocation,Year,value,indicator
0,NCR: National Capital Region,2000,NaN,3.4.1 Mortality rate credited to Diabetes
1,NCR: National Capital Region,2001,NaN,3.4.1 Mortality rate credited to Diabetes
2,NCR: National Capital Region,2002,NaN,3.4.1 Mortality rate credited to Diabetes
3,NCR: National Capital Region,2003,NaN,3.4.1 Mortality rate credited to Diabetes
4,NCR: National Capital Region,2004,NaN,3.4.1 Mortality rate credited to Diabetes
...,...,...,...,...
317,CAR: Cordillera Administrative Region,2018,0.3,3.4.1 Mortality rate credited to Diabetes
318,CAR: Cordillera Administrative Region,2019,0.3,3.4.1 Mortality rate credited to Diabetes
319,CAR: Cordillera Administrative Region,2020,0.3,3.4.1 Mortality rate credited to Diabetes
320,CAR: Cordillera Administrative Region,2021,NaN,3.4.1 Mortality rate credited to Diabetes
321,CAR: Cordillera Administrative Region,2022,NaN,3.4.1 Mortality rate credited to Diabetes

In [57]:
fifteenth_indicator.to_csv('data/3.4.1 Mortality rate credited to Diabetes.csv', index=False)

In [58]:
indicators_selected=['3.4.1 Mortality rate credited to Respi']

In [59]:
sixteenth_indicator = pd.DataFrame ()

for region in regions_selected:
    if len (indicators_selected) > 0:
        temp_region = sdg_data[sdg_data['Geolocation']==region][['Year', indicators_selected[0]]]
    else:
        temp_region = sdg_data[sdg_data['Geolocation']==region][['Year']]
    
    temp_region = pd.concat ([sdg_data['Geolocation'], temp_region], axis=1)
    
    temp_region = temp_region.dropna(thresh=len(indicators_selected)+1)
    temp_region ['Year'] = temp_region ['Year'].astype('int')
    
    sixteenth_indicator = pd.concat([sixteenth_indicator, temp_region])
sixteenth_indicator = sixteenth_indicator.reset_index (drop = True)
sixteenth_indicator

,Geolocation,Year,3.4.1 Mortality rate credited to Respi
0,NCR: National Capital Region,2000,NaN
1,NCR: National Capital Region,2001,NaN
2,NCR: National Capital Region,2002,NaN
3,NCR: National Capital Region,2003,NaN
4,NCR: National Capital Region,2004,NaN
...,...,...,...
317,CAR: Cordillera Administrative Region,2018,0.2
318,CAR: Cordillera Administrative Region,2019,0.2
319,CAR: Cordillera Administrative Region,2020,0.2
320,CAR: Cordillera Administrative Region,2021,NaN
321,CAR: Cordillera Administrative Region,2022,NaN

In [60]:
sixteenth_indicator['indicator'] = '3.4.1 Mortality rate credited to Respi'
sixteenth_indicator = sixteenth_indicator.rename(columns={'3.4.1 Mortality rate credited to Respi' : 'value'})
sixteenth_indicator

,Geolocation,Year,value,indicator
0,NCR: National Capital Region,2000,NaN,3.4.1 Mortality rate credited to Respi
1,NCR: National Capital Region,2001,NaN,3.4.1 Mortality rate credited to Respi
2,NCR: National Capital Region,2002,NaN,3.4.1 Mortality rate credited to Respi
3,NCR: National Capital Region,2003,NaN,3.4.1 Mortality rate credited to Respi
4,NCR: National Capital Region,2004,NaN,3.4.1 Mortality rate credited to Respi
...,...,...,...,...
317,CAR: Cordillera Administrative Region,2018,0.2,3.4.1 Mortality rate credited to Respi
318,CAR: Cordillera Administrative Region,2019,0.2,3.4.1 Mortality rate credited to Respi
319,CAR: Cordillera Administrative Region,2020,0.2,3.4.1 Mortality rate credited to Respi
320,CAR: Cordillera Administrative Region,2021,NaN,3.4.1 Mortality rate credited to Respi
321,CAR: Cordillera Administrative Region,2022,NaN,3.4.1 Mortality rate credited to Respi

In [61]:
sixteenth_indicator.to_csv('data/3.4.1 Mortality rate credited to Respi.csv', index=False)

In [62]:
indicators_selected = ['3.7.1 Proportion of Contraceptive Use of Women']

In [63]:
seventeenth_indicator = pd.DataFrame ()

for region in regions_selected:
    if len (indicators_selected) > 0:
        temp_region = sdg_data [sdg_data['Geolocation']==region][['Year', indicators_selected[0]]]
    else:
        temp_region = sdg_data [sdg_data['Geolocation']==region][['Year']]
    
    temp_region = pd.concat ([sdg_data['Geolocation'], temp_region], axis=1)
    
    temp_region =temp_region.dropna(thresh=len(indicators_selected)+1)
    temp_region ['Year'] = temp_region ['Year'].astype('int')
    
    seventeenth_indicator = pd.concat([seventeenth_indicator, temp_region])
seventeenth_indicator = seventeenth_indicator.reset_index (drop = True)
seventeenth_indicator

,Geolocation,Year,3.7.1 Proportion of Contraceptive Use of Women
0,NCR: National Capital Region,2000,NaN
1,NCR: National Capital Region,2001,NaN
2,NCR: National Capital Region,2002,NaN
3,NCR: National Capital Region,2003,47.2
4,NCR: National Capital Region,2004,NaN
...,...,...,...
317,CAR: Cordillera Administrative Region,2018,NaN
318,CAR: Cordillera Administrative Region,2019,NaN
319,CAR: Cordillera Administrative Region,2020,NaN
320,CAR: Cordillera Administrative Region,2021,NaN
321,CAR: Cordillera Administrative Region,2022,NaN

In [64]:
seventeenth_indicator['indicator'] = '3.7.1 Proportion of Contraceptive Use of Women'
seventeenth_indicator = seventeenth_indicator.rename(columns={'3.7.1 Proportion of Contraceptive Use of Women' : 'value'})
seventeenth_indicator

,Geolocation,Year,value,indicator
0,NCR: National Capital Region,2000,NaN,3.7.1 Proportion of Contraceptive Use of Women
1,NCR: National Capital Region,2001,NaN,3.7.1 Proportion of Contraceptive Use of Women
2,NCR: National Capital Region,2002,NaN,3.7.1 Proportion of Contraceptive Use of Women
3,NCR: National Capital Region,2003,47.2,3.7.1 Proportion of Contraceptive Use of Women
4,NCR: National Capital Region,2004,NaN,3.7.1 Proportion of Contraceptive Use of Women
...,...,...,...,...
317,CAR: Cordillera Administrative Region,2018,NaN,3.7.1 Proportion of Contraceptive Use of Women
318,CAR: Cordillera Administrative Region,2019,NaN,3.7.1 Proportion of Contraceptive Use of Women
319,CAR: Cordillera Administrative Region,2020,NaN,3.7.1 Proportion of Contraceptive Use of Women
320,CAR: Cordillera Administrative Region,2021,NaN,3.7.1 Proportion of Contraceptive Use of Women
321,CAR: Cordillera Administrative Region,2022,NaN,3.7.1 Proportion of Contraceptive Use of Women

In [65]:
seventeenth_indicator.to_csv('data/3.7.1 Proportion of Contraceptive Use of Women.csv', index=False)

In [66]:
indicators_selected = ['3.7.2 Teenage pregnancy rates per 1000']

In [67]:
eiggtheenth_indicator = pd.DataFrame ()

for region in regions_selected:
    if len (indicators_selected) > 0:
        temp_region = sdg_data[sdg_data ['Geolocation']==region][['Year', indicators_selected[0]]]
    else:
        temp_region = sdg_data[sdg_data ['Geolocation']==region][['Year']]
    
    temp_region = pd.concat ([sdg_data['Geolocation'], temp_region], axis=1)
    
    temp_region =temp_region.dropna(thresh=len(indicators_selected)+1)
    temp_region ['Year'] = temp_region ['Year'].astype('int')
    
    eiggtheenth_indicator = pd.concat([eiggtheenth_indicator, temp_region])
eiggtheenth_indicator = eiggtheenth_indicator.reset_index (drop = True)
eiggtheenth_indicator

,Geolocation,Year,3.7.2 Teenage pregnancy rates per 1000
0,NCR: National Capital Region,2000,NaN
1,NCR: National Capital Region,2001,NaN
2,NCR: National Capital Region,2002,NaN
3,NCR: National Capital Region,2003,35.0
4,NCR: National Capital Region,2004,NaN
...,...,...,...
317,CAR: Cordillera Administrative Region,2018,NaN
318,CAR: Cordillera Administrative Region,2019,NaN
319,CAR: Cordillera Administrative Region,2020,NaN
320,CAR: Cordillera Administrative Region,2021,NaN
321,CAR: Cordillera Administrative Region,2022,NaN

In [68]:
eiggtheenth_indicator['indicator'] = '3.7.2 Teenage pregnancy rates per 1000'
eiggtheenth_indicator = eiggtheenth_indicator.rename(columns={'3.7.2 Teenage pregnancy rates per 1000' : 'value'})
eiggtheenth_indicator

,Geolocation,Year,value,indicator
0,NCR: National Capital Region,2000,NaN,3.7.2 Teenage pregnancy rates per 1000
1,NCR: National Capital Region,2001,NaN,3.7.2 Teenage pregnancy rates per 1000
2,NCR: National Capital Region,2002,NaN,3.7.2 Teenage pregnancy rates per 1000
3,NCR: National Capital Region,2003,35.0,3.7.2 Teenage pregnancy rates per 1000
4,NCR: National Capital Region,2004,NaN,3.7.2 Teenage pregnancy rates per 1000
...,...,...,...,...
317,CAR: Cordillera Administrative Region,2018,NaN,3.7.2 Teenage pregnancy rates per 1000
318,CAR: Cordillera Administrative Region,2019,NaN,3.7.2 Teenage pregnancy rates per 1000
319,CAR: Cordillera Administrative Region,2020,NaN,3.7.2 Teenage pregnancy rates per 1000
320,CAR: Cordillera Administrative Region,2021,NaN,3.7.2 Teenage pregnancy rates per 1000
321,CAR: Cordillera Administrative Region,2022,NaN,3.7.2 Teenage pregnancy rates per 1000

In [69]:
eiggtheenth_indicator.to_csv('data/3.7.2 Teenage pregnancy rates per 1000.csv', index=False)

In [74]:
indicators_selected = ['4.1 Elem Completion Rate (Female)']

In [75]:
ninetenth_indicator = pd.DataFrame ()

for region in regions_selected:
    if len (indicators_selected) > 0:
        temp_region = sdg_data [sdg_data ['Geolocation']==region][['Year', indicators_selected[0]]]
    else:
        temp_region = sdg_data [sdg_data ['Geolocation']==region][['Year']]
    
    temp_region = pd.concat ([sdg_data['Geolocation'], temp_region], axis=1)
    
    temp_region =temp_region.dropna(thresh=len(indicators_selected)+1)
    temp_region ['Year'] = temp_region ['Year'].astype('int')
    
    ninetenth_indicator = pd.concat([ninetenth_indicator, temp_region])
ninetenth_indicator = ninetenth_indicator.reset_index (drop = True)
ninetenth_indicator

,Geolocation,Year,4.1 Elem Completion Rate (Female)
0,NCR: National Capital Region,2000,66.580000
1,NCR: National Capital Region,2001,75.660000
2,NCR: National Capital Region,2002,87.650000
3,NCR: National Capital Region,2003,87.280000
4,NCR: National Capital Region,2004,85.510000
...,...,...,...
317,CAR: Cordillera Administrative Region,2018,98.760000
318,CAR: Cordillera Administrative Region,2019,97.170000
319,CAR: Cordillera Administrative Region,2020,95.523977
320,CAR: Cordillera Administrative Region,2021,NaN
321,CAR: Cordillera Administrative Region,2022,NaN

In [76]:
ninetenth_indicator['indicator'] = '4.1 Elem Completion Rate (Female)'
ninetenth_indicator = ninetenth_indicator.rename(columns={'4.1 Elem Completion Rate (Female)' : 'value'})
ninetenth_indicator

,Geolocation,Year,value,indicator
0,NCR: National Capital Region,2000,66.580000,4.1 Elem Completion Rate (Female)
1,NCR: National Capital Region,2001,75.660000,4.1 Elem Completion Rate (Female)
2,NCR: National Capital Region,2002,87.650000,4.1 Elem Completion Rate (Female)
3,NCR: National Capital Region,2003,87.280000,4.1 Elem Completion Rate (Female)
4,NCR: National Capital Region,2004,85.510000,4.1 Elem Completion Rate (Female)
...,...,...,...,...
317,CAR: Cordillera Administrative Region,2018,98.760000,4.1 Elem Completion Rate (Female)
318,CAR: Cordillera Administrative Region,2019,97.170000,4.1 Elem Completion Rate (Female)
319,CAR: Cordillera Administrative Region,2020,95.523977,4.1 Elem Completion Rate (Female)
320,CAR: Cordillera Administrative Region,2021,NaN,4.1 Elem Completion Rate (Female)
321,CAR: Cordillera Administrative Region,2022,NaN,4.1 Elem Completion Rate (Female)

In [77]:
ninetenth_indicator.to_csv('data/4.1 Elem Completion Rate (Female).csv', index=False)

In [78]:
indicators_selected = ['4.1 Elem Completion Rate']

In [79]:
twentieth_indicator = pd.DataFrame ()

for region in regions_selected:
    if len (indicators_selected) > 0:
        temp_region = sdg_data [sdg_data ['Geolocation']==region][['Year', indicators_selected[0]]]
    else:
        temp_region = sdg_data [sdg_data ['Geolocation']==region][['Year']]
    
    temp_region = pd.concat ([sdg_data['Geolocation'], temp_region], axis=1)
    
    temp_region =temp_region.dropna(thresh=len(indicators_selected)+1)
    temp_region ['Year'] = temp_region ['Year'].astype('int')
    
    twentieth_indicator = pd.concat([twentieth_indicator, temp_region])
twentieth_indicator = twentieth_indicator.reset_index (drop = True)
twentieth_indicator

                               Geolocation  Year  4.1 Elem Completion Rate
0             NCR: National Capital Region  2000                     63.87
1             NCR: National Capital Region  2001                     74.29
2             NCR: National Capital Region  2002                     84.35
3             NCR: National Capital Region  2003                     83.81
4             NCR: National Capital Region  2004                     82.10
..                                     ...   ...                       ...
317  CAR: Cordillera Administrative Region  2018                     97.52
318  CAR: Cordillera Administrative Region  2019                     95.81
319  CAR: Cordillera Administrative Region  2020                     94.56
320  CAR: Cordillera Administrative Region  2021                       NaN
321  CAR: Cordillera Administrative Region  2022                       NaN

[322 rows x 3 columns]

In [80]:
twentieth_indicator['indicator'] = '4.1 Elem Completion Rate'
twentieth_indicator = twentieth_indicator.rename(columns={'4.1 Elem Completion Rate' : 'value'})
twentieth_indicator

,Geolocation,Year,value,indicator
0,NCR: National Capital Region,2000,63.87,4.1 Elem Completion Rate
1,NCR: National Capital Region,2001,74.29,4.1 Elem Completion Rate
2,NCR: National Capital Region,2002,84.35,4.1 Elem Completion Rate
3,NCR: National Capital Region,2003,83.81,4.1 Elem Completion Rate
4,NCR: National Capital Region,2004,82.10,4.1 Elem Completion Rate
...,...,...,...,...
317,CAR: Cordillera Administrative Region,2018,97.52,4.1 Elem Completion Rate
318,CAR: Cordillera Administrative Region,2019,95.81,4.1 Elem Completion Rate
319,CAR: Cordillera Administrative Region,2020,94.56,4.1 Elem Completion Rate
320,CAR: Cordillera Administrative Region,2021,NaN,4.1 Elem Completion Rate
321,CAR: Cordillera Administrative Region,2022,NaN,4.1 Elem Completion Rate

In [81]:
twentieth_indicator.to_csv('data/4.1 Elem Completion Rate.csv', index=False)

In [82]:
indicators_selected = ['4.1 Elem Completion Rate (Male)']

In [83]:
twentifirst_indicator = pd.DataFrame ()

for region in regions_selected:
    if len (indicators_selected) > 0:
        temp_region = sdg_data [sdg_data ['Geolocation']==region][['Year', indicators_selected[0]]]
    else:
        temp_region = sdg_data [sdg_data ['Geolocation']==region][['Year']]
    
    temp_region = pd.concat ([sdg_data['Geolocation'], temp_region], axis=1)
    
    temp_region =temp_region.dropna(thresh=len(indicators_selected)+1)
    temp_region ['Year'] = temp_region ['Year'].astype('int')
    
    twentifirst_indicator = pd.concat([twentifirst_indicator, temp_region])
twentifirst_indicator = twentifirst_indicator.reset_index (drop = True)
twentifirst_indicator

,Geolocation,Year,4.1 Elem Completion Rate (Male)
0,NCR: National Capital Region,2000,61.350000
1,NCR: National Capital Region,2001,73.000000
2,NCR: National Capital Region,2002,81.340000
3,NCR: National Capital Region,2003,80.620000
4,NCR: National Capital Region,2004,78.970000
...,...,...,...
317,CAR: Cordillera Administrative Region,2018,96.200000
318,CAR: Cordillera Administrative Region,2019,94.570000
319,CAR: Cordillera Administrative Region,2020,93.654864
320,CAR: Cordillera Administrative Region,2021,NaN
321,CAR: Cordillera Administrative Region,2022,NaN

In [84]:
twentifirst_indicator['indicator'] = '4.1 Elem Completion Rate (Male)'
twentifirst_indicator = twentifirst_indicator.rename(columns={'4.1 Elem Completion Rate (Male)' : 'value'})
twentifirst_indicator

,Geolocation,Year,value,indicator
0,NCR: National Capital Region,2000,61.350000,4.1 Elem Completion Rate (Male)
1,NCR: National Capital Region,2001,73.000000,4.1 Elem Completion Rate (Male)
2,NCR: National Capital Region,2002,81.340000,4.1 Elem Completion Rate (Male)
3,NCR: National Capital Region,2003,80.620000,4.1 Elem Completion Rate (Male)
4,NCR: National Capital Region,2004,78.970000,4.1 Elem Completion Rate (Male)
...,...,...,...,...
317,CAR: Cordillera Administrative Region,2018,96.200000,4.1 Elem Completion Rate (Male)
318,CAR: Cordillera Administrative Region,2019,94.570000,4.1 Elem Completion Rate (Male)
319,CAR: Cordillera Administrative Region,2020,93.654864,4.1 Elem Completion Rate (Male)
320,CAR: Cordillera Administrative Region,2021,NaN,4.1 Elem Completion Rate (Male)
321,CAR: Cordillera Administrative Region,2022,NaN,4.1 Elem Completion Rate (Male)

In [85]:
twentifirst_indicator.to_csv('data/4.1 Elem Completion Rate (Male).csv', index=False)

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
csv_directory = 'data\sdg_data_regional'

In [3]:
data_frames = []

In [4]:
for file_name in os.listdir(csv_directory):
    if file_name.endswith('.csv'):
        file_path = os.path.join(csv_directory, file_name)
        df = pd.read_csv(file_path)
        data_frames.append(df)

In [5]:
for i in range(1, len(data_frames)):
    if not data_frames[i].columns.equals(data_frames[0].columns):
        raise ValueError("Column headers in CSV files are not the same.")

In [6]:
#concatenate all dataframes
combined_data = pd.concat(data_frames, ignore_index=True)
combined_data

,Geolocation,Year,value,indicator
0,NCR: National Capital Region,2000,NaN,1.2.1 Poverty Proportion
1,NCR: National Capital Region,2001,NaN,1.2.1 Poverty Proportion
2,NCR: National Capital Region,2002,NaN,1.2.1 Poverty Proportion
3,NCR: National Capital Region,2003,NaN,1.2.1 Poverty Proportion
4,NCR: National Capital Region,2004,NaN,1.2.1 Poverty Proportion
...,...,...,...,...
6757,CAR: Cordillera Administrative Region,2018,97.52,4.1 Elem Completion Rate
6758,CAR: Cordillera Administrative Region,2019,95.81,4.1 Elem Completion Rate
6759,CAR: Cordillera Administrative Region,2020,94.56,4.1 Elem Completion Rate
6760,CAR: Cordillera Administrative Region,2021,NaN,4.1 Elem Completion Rate
6761,CAR: Cordillera Administrative Region,2022,NaN,4.1 Elem Completion Rate

In [7]:
combined_data.dtypes

Geolocation     object
Year             int64
value          float64
indicator       object
dtype: object

In [8]:
#save combined_data to csv file
combined_data.to_csv('data/Regional_combined_data.csv', index=False)

In [1]:
import pandas as pd

# Read the CSV files into DataFrames
indicator_df = pd.read_csv('data/Regional_combined_data.csv')
target_df = pd.read_csv('data/sdg_infov3.csv')

In [2]:
indicator_df

,Geolocation,Year,value,indicator
0,NCR: National Capital Region,2000,NaN,1.2.1 Poverty Proportion
1,NCR: National Capital Region,2001,NaN,1.2.1 Poverty Proportion
2,NCR: National Capital Region,2002,NaN,1.2.1 Poverty Proportion
3,NCR: National Capital Region,2003,NaN,1.2.1 Poverty Proportion
4,NCR: National Capital Region,2004,NaN,1.2.1 Poverty Proportion
...,...,...,...,...
6757,CAR: Cordillera Administrative Region,2018,97.52,4.1 Elem Completion Rate
6758,CAR: Cordillera Administrative Region,2019,95.81,4.1 Elem Completion Rate
6759,CAR: Cordillera Administrative Region,2020,94.56,4.1 Elem Completion Rate
6760,CAR: Cordillera Administrative Region,2021,NaN,4.1 Elem Completion Rate
6761,CAR: Cordillera Administrative Region,2022,NaN,4.1 Elem Completion Rate

In [5]:
# i need to rename the raw in indicator column '4.1 Elem Completion Rate' to '4.1.0 Elem Completion Rate'
indicator_df['indicator'] = indicator_df['indicator'].replace('4.1 Elem Completion Rate', '4.1.0 Elem Completion Rate')
indicator_df

,Geolocation,Year,value,indicator
0,NCR: National Capital Region,2000,NaN,1.2.1 Poverty Proportion
1,NCR: National Capital Region,2001,NaN,1.2.1 Poverty Proportion
2,NCR: National Capital Region,2002,NaN,1.2.1 Poverty Proportion
3,NCR: National Capital Region,2003,NaN,1.2.1 Poverty Proportion
4,NCR: National Capital Region,2004,NaN,1.2.1 Poverty Proportion
...,...,...,...,...
6757,CAR: Cordillera Administrative Region,2018,97.52,4.1.0 Elem Completion Rate
6758,CAR: Cordillera Administrative Region,2019,95.81,4.1.0 Elem Completion Rate
6759,CAR: Cordillera Administrative Region,2020,94.56,4.1.0 Elem Completion Rate
6760,CAR: Cordillera Administrative Region,2021,NaN,4.1.0 Elem Completion Rate
6761,CAR: Cordillera Administrative Region,2022,NaN,4.1.0 Elem Completion Rate

In [6]:


# Extract the common part between "indicator_name" and "target_number"
indicator_df['common_part'] = indicator_df['indicator'].str.extract(r'(\d+\.\d+\.)')
target_df['common_part'] = target_df['Target Number'].str.extract(r'(\d+\.\d+\.)')

# Merge the DataFrames based on the common_part
merged_df = indicator_df.merge(target_df, on="common_part", how="inner")

merged_df
#i need only the following columns from merged_df
merged_df = merged_df[['Geolocation', 'Year', 'indicator', 'value', 'Target Number']]
merged_df

,Geolocation,Year,indicator,value,Target Number
0,NCR: National Capital Region,2000,1.2.1 Poverty Proportion,NaN,1.2.
1,NCR: National Capital Region,2000,1.2.1 Poverty Proportion,NaN,1.2.
2,NCR: National Capital Region,2001,1.2.1 Poverty Proportion,NaN,1.2.
3,NCR: National Capital Region,2001,1.2.1 Poverty Proportion,NaN,1.2.
4,NCR: National Capital Region,2002,1.2.1 Poverty Proportion,NaN,1.2.
...,...,...,...,...,...
45719,CAR: Cordillera Administrative Region,2020,4.1.0 Elem Completion Rate,94.56,4.1.
45720,CAR: Cordillera Administrative Region,2021,4.1.0 Elem Completion Rate,NaN,4.1.
45721,CAR: Cordillera Administrative Region,2021,4.1.0 Elem Completion Rate,NaN,4.1.
45722,CAR: Cordillera Administrative Region,2022,4.1.0 Elem Completion Rate,NaN,4.1.
45723,CAR: Cordillera Administrative Region,2022,4.1.0 Elem Completion Rate,NaN,4.1.

In [7]:
#save merged_df to csv file
merged_df.to_csv('data/merged_data.csv', index=False)

In [8]:
merged_df

,Geolocation,Year,indicator,value,Target Number
0,NCR: National Capital Region,2000,1.2.1 Poverty Proportion,NaN,1.2.
1,NCR: National Capital Region,2000,1.2.1 Poverty Proportion,NaN,1.2.
2,NCR: National Capital Region,2001,1.2.1 Poverty Proportion,NaN,1.2.
3,NCR: National Capital Region,2001,1.2.1 Poverty Proportion,NaN,1.2.
4,NCR: National Capital Region,2002,1.2.1 Poverty Proportion,NaN,1.2.
...,...,...,...,...,...
45719,CAR: Cordillera Administrative Region,2020,4.1.0 Elem Completion Rate,94.56,4.1.
45720,CAR: Cordillera Administrative Region,2021,4.1.0 Elem Completion Rate,NaN,4.1.
45721,CAR: Cordillera Administrative Region,2021,4.1.0 Elem Completion Rate,NaN,4.1.
45722,CAR: Cordillera Administrative Region,2022,4.1.0 Elem Completion Rate,NaN,4.1.
45723,CAR: Cordillera Administrative Region,2022,4.1.0 Elem Completion Rate,NaN,4.1.

In [12]:
#remove all duplicates in first 3 columns
merged_df = merged_df.drop_duplicates(subset=['Geolocation', 'Year', 'indicator'], keep='last')
merged_df

,Geolocation,Year,indicator,value,Target Number
0,NCR: National Capital Region,2000,1.2.1 Poverty Proportion,NaN,1.2.
2,NCR: National Capital Region,2001,1.2.1 Poverty Proportion,NaN,1.2.
4,NCR: National Capital Region,2002,1.2.1 Poverty Proportion,NaN,1.2.
6,NCR: National Capital Region,2003,1.2.1 Poverty Proportion,NaN,1.2.
8,NCR: National Capital Region,2004,1.2.1 Poverty Proportion,NaN,1.2.
...,...,...,...,...,...
45714,CAR: Cordillera Administrative Region,2018,4.1.0 Elem Completion Rate,97.52,4.1.
45716,CAR: Cordillera Administrative Region,2019,4.1.0 Elem Completion Rate,95.81,4.1.
45718,CAR: Cordillera Administrative Region,2020,4.1.0 Elem Completion Rate,94.56,4.1.
45720,CAR: Cordillera Administrative Region,2021,4.1.0 Elem Completion Rate,NaN,4.1.
45722,CAR: Cordillera Administrative Region,2022,4.1.0 Elem Completion Rate,NaN,4.1.

In [11]:
#save 
merged_df.to_csv('data/merged_data.csv', index=False)

In [14]:
#open merged_df
merged_df = pd.read_csv('data/merged_data.csv')
merged_df

,Geolocation,Year,indicator,value,Target Number
0,NCR: National Capital Region,2000,1.2.1 Poverty Proportion,NaN,1.2.
1,NCR: National Capital Region,2001,1.2.1 Poverty Proportion,NaN,1.2.
2,NCR: National Capital Region,2002,1.2.1 Poverty Proportion,NaN,1.2.
3,NCR: National Capital Region,2003,1.2.1 Poverty Proportion,NaN,1.2.
4,NCR: National Capital Region,2004,1.2.1 Poverty Proportion,NaN,1.2.
...,...,...,...,...,...
6757,CAR: Cordillera Administrative Region,2018,4.1.0 Elem Completion Rate,97.52,4.1.
6758,CAR: Cordillera Administrative Region,2019,4.1.0 Elem Completion Rate,95.81,4.1.
6759,CAR: Cordillera Administrative Region,2020,4.1.0 Elem Completion Rate,94.56,4.1.
6760,CAR: Cordillera Administrative Region,2021,4.1.0 Elem Completion Rate,NaN,4.1.
6761,CAR: Cordillera Administrative Region,2022,4.1.0 Elem Completion Rate,NaN,4.1.

In [15]:
sdg_goals =pd.read_csv('data/SDG_goals.csv')

In [16]:
sdg_goals

,Main SDG,Target Number,Target,Shortened Target,Target Information,Indicator,Indicator Information
0,No Poverty,1.1.,"By 2030, achieve the complete elimination of e...",Completely eliminate global extreme poverty,NaN,1.1.1. Proportion of the population living bel...,NaN
1,No Poverty,1.2.,"By 2030, the proportion of men, women and chil...",The proportion of poverty should be halved.,NaN,1.2.1. Proportion of population living below t...,NaN
2,No Poverty,1.2.,"By 2030, the proportion of men, women and chil...",The proportion of poverty should be halved.,NaN,"1.2.2. Proportion of men, women and children o...",NaN
3,No Poverty,1.3.,"By 2030, the aim is to achieve significant cov...",Expand tailored social protection programs for...,NaN,1.3.1. Proportion of population covered by soc...,NaN
4,No Poverty,1.4.,"By 2030, guarantee equal rights for all indivi...",Ensure equal rights to economic resources.,This includes ensuring equitable access to ess...,1.4.1. Proportion of population living in hous...,NaN
5,No Poverty,1.4.,"By 2030, guarantee equal rights for all indivi...",Ensure equal rights to economic resources for ...,This includes ensuring equitable access to ess...,1.4.2. Proportion of total adult population wi...,NaN
6,No Poverty,1.5.,"By 2030, enhance the resilience of individuals...",Enhance resilience of vulnerable individuals t...,NaN,"1.5.1. Number of deaths, missing persons and d...",NaN
7,No Poverty,1.5.,"By 2030, enhance the resilience of individuals...",Enhance resilience of vulnerable individuals t...,NaN,1.5.2. Direct economic loss attributed to disa...,NaN
8,No Poverty,1.5.,"By 2030, enhance the resilience of individuals...",Enhance resilience of vulnerable individuals t...,NaN,1.5.3. Number of countries that adopt and impl...,NaN
9,No Poverty,1.5.,"By 2030, enhance the resilience of individuals...",Enhance resilience of vulnerable individuals t...,NaN,1.5.4. Proportion of local governments that ad...,NaN
10,Zero Hunger,2.1.,"By 2030, eradicate hunger and ensure that ever...","By 2030, end hunger and ensure access to safe,...",NaN,2.1.1. Prevalence of undernourishment,NaN
11,Zero Hunger,2.1.,"By 2030, eradicate hunger and ensure that ever...","By 2030, end hunger and ensure access to safe,...",NaN,2.1.2. Prevalence of moderate or severe food i...,NaN
12,Zero Hunger,2.2.,"By 2030, eradicate all manifestations of malnu...","By 2030, eliminate malnutrition, achieve child...",NaN,2.2.1. Prevalence of stunting (height for age ...,NaN
13,Zero Hunger,2.2.,"By 2030, eradicate all manifestations of malnu...","By 2030, eliminate malnutrition, achieve child...",NaN,2.2.2. Prevalence of malnutrition (weight for ...,NaN
14,Zero Hunger,2.2.,"By 2030, eradicate all manifestations of malnu...","By 2030, eliminate malnutrition, achieve child...",NaN,2.2.3. Prevalence of anaemia in women aged 15 ...,NaN
15,Zero Hunger,2.3.,"By 2030, strive to achieve to double the incre...","By 2030, double agricultural productivity and ...",This objective should be pursued by ensuring s...,2.3.1. Volume of production per labour unit by...,NaN
16,Zero Hunger,2.3.,"By 2030, strive to achieve to double the incre...","By 2030, double agricultural productivity and ...",This objective should be pursued by ensuring s...,2.3.2. Average income of small-scale food prod...,NaN
17,Zero Hunger,2.4.,"By 2030, establish sustainable food production...","By 2030, create sustainable food production sy...",These practices should contribute to the prese...,2.4.1. Proportion of agricultural area under p...,NaN
18,Zero Hunger,2.5.,"Safeguard the genetic diversity of seeds, cult...","Preserve genetic diversity, promote access to ...",NaN,2.5.1. Number of (a) plant and (b) animal gene...,NaN
19,Zero Hunger,2.5.,"Safeguard the genetic diversity of seeds, cult...","Preserve genetic diversity, promote access to ...",NaN,2.5.2. Proportion of local breeds classified a...,NaN
20,Good Health and Well-Being,3.1.,"By 2030, decrease the worldwide maternal morta...",Reduce global maternal mortality ratio to belo...,NaN,3.1.1. Maternal mortality ratio,NaN
21,Good Health and Well-Being,3.1.,"By 2030, decrease the worldwide maternal morta...",Reduce global maternal mortality ratio to belo...,NaN,3.1.2. Proportion of births attended by skille...,NaN
22,Good Health and Well-Being,3.2.,"By 2030, achieve the elimination of avoidable...","By 2030, reduce neonatal mortality to below 12...",NaN,3.2.1. Under-five mortality rate,NaN
23,Good Health and Well-Being,3.2.,"By 2030, achieve the elimination of avoidable...","By 2030, reduce neonatal mortality to below 12...",NaN,3.2.2. Neonatal mortality rate,NaN
24,Good Health and Well-Being,3.3.,"By 2030, put an end to the epidemics of AIDS,...","By 2030, end epidemics of major diseases, incl...",NaN,"3.3.1. Number of new HIV infections per 1,000 ...",NaN
25,Good Health and Well-Being,3.3.,"By 2030, put an end to the epidemics of AIDS,...","By 2030, end epidemics of major diseases, incl...",NaN,"3.3.2. Tuberculosis incidence per 100,000 popu...",NaN
26,Good Health and Well-Being,3.3.,"By 2030, put an end to the epidemics of AIDS,...","By 2030, end epidemics of major diseases, incl...",NaN,"3.3.3. Malaria incidence per 1,000 population",NaN
27,Good Health and Well-Being,3.3.,"By 2030, put an end to the epidemics of AIDS,...","By 2030, end epidemics of major diseases, incl...",NaN,"3.3.4. Hepatitis B incidence per 100,000 popul...",NaN
28,Good Health and Well-Being,3.3.,"By 2030, put an end to the epidemics of AIDS,...","By 2030, end epidemics of major diseases, incl...",NaN,3.3.5. Number of people requiring intervention...,NaN
29,Good Health and Well-Being,3.4.,"By 2030, decrease premature mortality from non...",Reduce non-communicable disease mortality.,NaN,3.4.1. Mortality rate attributed to cardiovasc...,NaN
30,Good Health and Well-Being,3.4.,"By 2030, decrease premature mortality from non...",Reduce non-communicable disease mortality.,NaN,3.4.2. Suicide mortality rate,NaN
31,Good Health and Well-Being,3.5.,Enhance efforts to prevent and address substan...,Strengthen substance abuse prevention and trea...,NaN,3.5.1. Coverage of treatment interventions (ph...,NaN
32,Good Health and Well-Being,3.5.,Enhance efforts to prevent and address substan...,Strengthen substance abuse prevention and trea...,NaN,3.5.2. Alcohol per capita consumption (aged 15...,NaN
33,Good Health and Well-Being,3.6.,"By 2020, reduce by half the worldwide number o...","By 2020, reduce by half the worldwide number o...",NaN,3.6.1. Death rate due to road traffic injuries,NaN
34,Good Health and Well-Being,3.7.,"By 2030, guarantee equal and widespread avail...",Ensure sexual and reproductive healthcare.,NaN,3.7.1. Proportion of women of reproductive age...,NaN
35,Good Health and Well-Being,3.7.,"By 2030, guarantee equal and widespread avail...",Ensure sexual and reproductive healthcare.,NaN,3.7.2. Adolescent birth rate (aged 10-14 years...,NaN
36,Good Health and Well-Being,3.8.,"Attain universal health coverage for everyone,...","Achieve universal health coverage for all, ens...",NaN,3.8.1. Coverage of essential health services,NaN
37,Good Health and Well-Being,3.8.,"Attain universal health coverage for everyone,...","Achieve universal health coverage for all, ens...",NaN,3.8.2. Proportion of population with large hou...,NaN
38,Good Health and Well-Being,3.9.,"By 2030, significantly decrease the number of ...","By 2030, reduce chemical-related fatalities an...",NaN,3.9.1. Mortality rate attributed to household ...,NaN
39,Good Health and Well-Being,3.9.,"By 2030, significantly decrease the number of ...","By 2030, reduce chemical-related fatalities an...",NaN,3.9.2. Mortality rate attributed to unsafe wat...,NaN
40,Good Health and Well-Being,3.9.,"By 2030, significantly decrease the number of ...","By 2030, reduce chemical-related fatalities an...",NaN,3.9.3. Mortality rate attributed to unintentio...,NaN
41,Quality Education,4.1.,"By 2030, ensure the achievement of universal, ...",Achieve quality education for all.,NaN,4.1.1. Proportion of children and young people...,NaN
42,Quality Education,4.1.,"By 2030, ensure the achievement of universal, ...",Achieve quality education for all.,NaN,"4.1.2. Completion rate (primary education, low...",NaN

In [17]:
target_score = pd.read_csv('data/sdg_target_score.csv')
target_score

,Main SDG,Indicator,Target,Type
0,No Poverty,1.2.1 Poverty Proportion,10.8,reduce
1,No Poverty,1.4.1 Net Elem Enrolment Rate,100.0,increase
2,No Poverty,1.4.1 Net Elem Enrolment Rate (Girls),100.0,increase
3,No Poverty,1.4.1 Net Elem Enrolment Rate (Boys),100.0,increase
4,No Poverty,1.4.1 Net JHS Enrolment Rate,100.0,increase
...,...,...,...,...
82,"Peace, Justice and Strong Institutions",NaN,NaN,NaN
83,Partnerships for the Goals,NaN,NaN,NaN
84,Partnerships for the Goals,NaN,NaN,NaN
85,Partnerships for the Goals,NaN,NaN,NaN
86,Partnerships for the Goals,NaN,NaN,NaN

In [19]:
#remove duplicates in target_score in column indicator
target_score = target_score.drop_duplicates(subset=['Indicator'], keep='last')
target_score

,Main SDG,Indicator,Target,Type
0,No Poverty,1.2.1 Poverty Proportion,10.8,reduce
1,No Poverty,1.4.1 Net Elem Enrolment Rate,100.0,increase
2,No Poverty,1.4.1 Net Elem Enrolment Rate (Girls),100.0,increase
3,No Poverty,1.4.1 Net Elem Enrolment Rate (Boys),100.0,increase
4,No Poverty,1.4.1 Net JHS Enrolment Rate,100.0,increase
5,No Poverty,1.4.1 Net JHS Enrolment Rate (Girls),100.0,increase
6,No Poverty,1.4.1 Net JHS Enrolment Rate (Boys),100.0,increase
7,No Poverty,1.4.1 Net SHS Enrolment Rate,100.0,increase
8,No Poverty,1.4.1 Net SHS Enrolment Rate (Girls),100.0,increase
9,No Poverty,1.4.1 Net SHS Enrolment Rate (Boys),100.0,increase
10,No Poverty,1.5.4 Proportion of LGU with DRR,100.0,increase
11,Good Health and Well-Being,3.4.1 Mortality rate credited to NCD,NaN,NaN
12,Good Health and Well-Being,3.4.1 Mortality rate credited to Cardio,1.8,reduce
13,Good Health and Well-Being,3.4.1 Mortality rate credited to Cancer,0.7,reduce
14,Good Health and Well-Being,3.4.1 Mortality rate credited to Diabetes,0.4,reduce
15,Good Health and Well-Being,3.4.1 Mortality rate credited to Respiratory D...,0.2,reduce
16,Good Health and Well-Being,3.7.1 Proportion of Contraceptive Use of Women,100.0,increase
17,Good Health and Well-Being,3.7.2 Teenage pregnancy rates per 1000,30.3,reduce
18,Quality Education,4.1 Elem Completion Rate,100.0,increase
19,Quality Education,4.1 Elem Completion Rate (Female),100.0,increase
20,Quality Education,4.1 Elem Completion Rate (Male),100.0,increase
21,Quality Education,4.1 JHS Completion Rate,100.0,increase
22,Quality Education,4.1 JHS Completion Rate (Female),100.0,increase
23,Quality Education,4.1 JHS Completion Rate (Male),100.0,increase
24,Quality Education,4.1 SHS Completion Rate,100.0,increase
25,Quality Education,4.1 SHS Completion Rate (Female),100.0,increase
26,Quality Education,4.1 SHS Completion Rate (Male),100.0,increase
27,Quality Education,4.c TVET trainers trained,NaN,increase
28,Affordable and Clean Energy,7.1.1 Proportion of pop with electricity,100.0,increase
29,Decent Work and Economic Growth,8.1.1 Growth rate of real GDP per capita,6.0,increase
30,Reduced Inequalities,10.1.1.1 Income per capita growth rate of bott...,NaN,NaN
31,Reduced Inequalities,10.1.1.2 Income per capita growth rate,NaN,NaN
32,Life Below Water,14.5.1.1 Coverage of protected areas,NaN,NaN
33,Life Below Water,14.5.1.2 Coverage of protected NIPAS and Local...,0.7,increase
34,"Peace, Justice and Strong Institutions",16.1.1 Victims of intentional homicide per 100...,NaN,NaN
35,"Peace, Justice and Strong Institutions",16.1.s1 Number of murder cases,NaN,NaN
86,Partnerships for the Goals,NaN,NaN,NaN

In [20]:
target_score = target_score.rename(columns={'Indicator': 'indicator'})

In [21]:
#save to existing csv file
target_score.to_csv('data/sdg_target_score.csv', index=False)